<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lofalt.myblog.daotmp.TagMapper">
  <resultMap id="BaseResultMap" type="cn.lofalt.myblog.pojotmp.Tag">
    <id column="tag_id" jdbcType="INTEGER" property="tagId" />
    <result column="tag_name" jdbcType="VARCHAR" property="tagName" />
    <result column="tag_color" jdbcType="VARCHAR" property="tagColor" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tag
    where tag_id = #{tagId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.lofalt.myblog.pojotmp.Tag">
    <selectKey keyProperty="tagId" order="AFTER" resultType="java.lang.Integer">
      VALUES IDENTITY_VAL_LOCAL()
    </selectKey>
    insert into tag (tag_name, tag_color)
    values (#{tagName,jdbcType=VARCHAR}, #{tagColor,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.lofalt.myblog.pojotmp.Tag">
    update tag
    set tag_name = #{tagName,jdbcType=VARCHAR},
      tag_color = #{tagColor,jdbcType=VARCHAR}
    where tag_id = #{tagId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select tag_id, tag_name, tag_color
    from tag
    where tag_id = #{tagId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select tag_id, tag_name, tag_color
    from tag
  </select>
  <resultMap id="BaseResultMap" type="cn.lofalt.myblog.pojotmp.Tag">
    <id column="tag_id" jdbcType="INTEGER" property="tagId" />
    <result column="tag_name" jdbcType="VARCHAR" property="tagName" />
    <result column="tag_description" jdbcType="VARCHAR" property="tagDescription" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tag
    where tag_id = #{tagId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.lofalt.myblog.pojotmp.Tag">
    <selectKey keyProperty="tagId" order="AFTER" resultType="java.lang.Integer">
      VALUES IDENTITY_VAL_LOCAL()
    </selectKey>
    insert into tag (tag_name, tag_description)
    values (#{tagName,jdbcType=VARCHAR}, #{tagDescription,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.lofalt.myblog.pojotmp.Tag">
    update tag
    set tag_name = #{tagName,jdbcType=VARCHAR},
      tag_description = #{tagDescription,jdbcType=VARCHAR}
    where tag_id = #{tagId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select tag_id, tag_name, tag_description
    from tag
    where tag_id = #{tagId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select tag_id, tag_name, tag_description
    from tag
  </select>
  <resultMap id="BaseResultMap" type="cn.lofalt.myblog.pojotmp.Tag">
    <id column="tag_id" jdbcType="INTEGER" property="tagId" />
    <result column="tag_name" jdbcType="VARCHAR" property="tagName" />
    <result column="tag_color" jdbcType="VARCHAR" property="tagColor" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tag
    where tag_id = #{tagId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.lofalt.myblog.pojotmp.Tag">
    <selectKey keyProperty="tagId" order="AFTER" resultType="java.lang.Integer">
      VALUES IDENTITY_VAL_LOCAL()
    </selectKey>
    insert into tag (tag_name, tag_color)
    values (#{tagName,jdbcType=VARCHAR}, #{tagColor,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.lofalt.myblog.pojotmp.Tag">
    update tag
    set tag_name = #{tagName,jdbcType=VARCHAR},
      tag_color = #{tagColor,jdbcType=VARCHAR}
    where tag_id = #{tagId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select tag_id, tag_name, tag_color
    from tag
    where tag_id = #{tagId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select tag_id, tag_name, tag_color
    from tag
  </select>
  <resultMap id="BaseResultMap" type="cn.lofalt.myblog.pojotmp.Tag">
    <id column="tag_id" jdbcType="INTEGER" property="tagId" />
    <result column="tag_name" jdbcType="VARCHAR" property="tagName" />
    <result column="tag_description" jdbcType="VARCHAR" property="tagDescription" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tag
    where tag_id = #{tagId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.lofalt.myblog.pojotmp.Tag">
    <selectKey keyProperty="tagId" order="AFTER" resultType="java.lang.Integer">
      VALUES IDENTITY_VAL_LOCAL()
    </selectKey>
    insert into tag (tag_name, tag_description)
    values (#{tagName,jdbcType=VARCHAR}, #{tagDescription,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.lofalt.myblog.pojotmp.Tag">
    update tag
    set tag_name = #{tagName,jdbcType=VARCHAR},
      tag_description = #{tagDescription,jdbcType=VARCHAR}
    where tag_id = #{tagId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select tag_id, tag_name, tag_description
    from tag
    where tag_id = #{tagId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select tag_id, tag_name, tag_description
    from tag
  </select>
  <resultMap id="BaseResultMap" type="cn.lofalt.myblog.pojotmp.Tag">
    <id column="tag_id" jdbcType="INTEGER" property="tagId" />
    <result column="tag_name" jdbcType="VARCHAR" property="tagName" />
    <result column="tag_color" jdbcType="VARCHAR" property="tagColor" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tag
    where tag_id = #{tagId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.lofalt.myblog.pojotmp.Tag">
    insert into tag (tag_id, tag_name, tag_color
      )
    values (#{tagId,jdbcType=INTEGER}, #{tagName,jdbcType=VARCHAR}, #{tagColor,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.lofalt.myblog.pojotmp.Tag">
    update tag
    set tag_name = #{tagName,jdbcType=VARCHAR},
      tag_color = #{tagColor,jdbcType=VARCHAR}
    where tag_id = #{tagId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select tag_id, tag_name, tag_color
    from tag
    where tag_id = #{tagId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select tag_id, tag_name, tag_color
    from tag
  </select>
  <resultMap id="BaseResultMap" type="cn.lofalt.myblog.pojotmp.Tag">
    <id column="tag_id" jdbcType="INTEGER" property="tagId" />
    <result column="tag_name" jdbcType="VARCHAR" property="tagName" />
    <result column="tag_description" jdbcType="VARCHAR" property="tagDescription" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tag
    where tag_id = #{tagId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.lofalt.myblog.pojotmp.Tag">
    insert into tag (tag_id, tag_name, tag_description
      )
    values (#{tagId,jdbcType=INTEGER}, #{tagName,jdbcType=VARCHAR}, #{tagDescription,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.lofalt.myblog.pojotmp.Tag">
    update tag
    set tag_name = #{tagName,jdbcType=VARCHAR},
      tag_description = #{tagDescription,jdbcType=VARCHAR}
    where tag_id = #{tagId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select tag_id, tag_name, tag_description
    from tag
    where tag_id = #{tagId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select tag_id, tag_name, tag_description
    from tag
  </select>
</mapper>